@import "tailwindcss";

@theme {
  --color-sticky-yellow: #fef9c3;
  --color-sticky-border: #facc15;

  /* Custom User Colors for Notes/Categories */
  --color-user-1: var(--user-color, #f87171); 
}

body {
  font-family: "Georgia, serif";
}

:root {
  background-color: #f8fafc; /* slate-50 */
  color: #1e293b; /* slate-800 */
}

[contenteditable]:focus {
  outline: none;
}

.note-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.note-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.note-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}
.note-scroll:hover::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
}
