@import "tailwindcss";

@theme {
  --color-sticky-yellow: #fef9c3;
  --color-sticky-border: #facc15;
}

:root {
  background-color: #f8fafc; /* slate-50 */
  color: #1e293b; /* slate-800 */
}

[contenteditable]:focus {
  outline: none;
}
